<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Login BEM PeTIK</title>
  </head>
  <body class="d-flex justify-content-center align-items-center vh-100">
    <div class="container m-5" style="width: 600px">
      <div class="card">
        <div class="card-body">
          <form action="/BEM_PeTIK/login" method="POST">
            <div class="mb-3">
              <label class="form-label">NIM</label>
              <input
                type="text"
                class="form-control"
                name="nim"
                placeholder="Masukkan NIM"
                required
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Masukkan Password"
                required
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Pilih Divisi</label>
              <select class="form-select" name="divisi" required>
                <option value="">Pilih divisi</option>
                <option value="manajemen">Manajemen/Pengasuhan</option>
                <option value="ketua">Ketua</option>
                <option value="sekretaris">Sekretaris</option>
                <option value="bendahara">Bendahara</option>
                <option value="ibadah">Divisi Ibadah</option>
                <option value="kebersihan">Divisi Kebersihan</option>
                <option value="pendidikan">Divisi Pendidikan</option>
                <option value="dapur">Divisi Dapur</option>
                <option value="kesehatan">Divisi Kesehatan</option>
                <option value="lainnya">Lainnya</option>
              </select>
            </div>

            <div class="row">
              <div class="col d-grid m-3">
                <button type="submit" class="btn btn-success mt-3">
                  Login
                </button>
              </div>
            </div>

            <% if (typeof errorMessage !== "undefined" && errorMessage) { %>
            <p class="text-danger"><%= errorMessage %></p>
            <% } %>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
